<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Lover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .carousel-inner img{
  width: 100%;/* set the width to 100%*/
  min-height:100px;
}
</style>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movie Lover</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:window.location.reload(true)">Home</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if username==None %}
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% else %}
      <li style="margin-top: 10px;font-size: 20px;color:  white;">Hi {{username}}</li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    {% end %}
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
             </ol>   

         <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for i in range(len(items))%}
            {% if i==0 %}
            <div class="item active">
            {% else %}
            <div class="item">    
            {% end %}
                <a href="/show/{{items[i][0]}}"><img src={{static_url(items[i][1])}} alt="Image"></a>
                  <div class="carousel-caption">
                    <h2>{{items[i][2]}}</h2>
                    <p>{{items[i][3]}} min | {{items[i][4]}}</p>
                    <p>Show Time: {{items[i][5]}}</p>
                  </div>
            </div>  
        {% end %}

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



</body>
</html>
