<!DOCTYPE html>
<html>
<head>
    <title>Movie Lover</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("sign.css") }}">
</head>
<body>

    <form action="signup" method="POST" onsubmit="return check()">
        <h1 align="center">Sign up</h1>
        <table align="center">
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" required="required" placeholder="eg: turing" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" required="required" placeholder="example@123.com" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" required="required" placeholder="eg: 123456" /></td>
                </tr>
                <tr>
                    <td>Password Confirm:</td>
                    <td><input type="password" name="password_conf" required="required" placeholder="Please confirm password" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input class="button" value="Sign up" type="submit" /></td>
                    <script>
function check() {
                            var p = document.getElementsByName("password")[0].value;
                            var pc = document.getElementsByName("password_conf")[0].value;
                            if (p === pc)
                                return true;
                            else {
                                document.getElementsByClassName("hint")[0].innerHTML = "Please confirm your password.";
                                return false;
                            }
                        }</script>
                    <p class="hint" align="center">
                        {% if error !=None %}
                        {{error}}
                        {% end %}
                    </p>
                </tr>
            </tbody>
        </table>
        <p class="link" align="center">Already have an account? <a href="login">Go to login</a></p>
    </form>
</body>
</html>